
<div class="Welcome"><h1>Welcome to BigBasket!</h1> <h2>Your Ultimate Shopping Guide!</h2></div>
<img class="banner" src = "/assets/images/homebg.jpg" alt="HomeImage" /> 
<br>

  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Retailers</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let retail of retailers">
        <td>{{retail.id}}</td>
        <td>{{retail.username}}</td>
        <td>{{retail.address}}</td>
        
       
      </tr>
    </tbody>
  </table>
    <hr> -->
    