<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1>Login</h1>
                      <h6>Please Enter your Login Details</h6>
              </div>
           <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
          
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Email" formControlName="Email"><br>
               <span class="text-danger" *ngIf="formGroup.controls['Email'].dirty && formGroup.hasError('required','Email')">*Email Is Required</span>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"><br>
              <span class="text-danger" *ngIf="formGroup.controls['password'].dirty && formGroup.hasError('required','password')">*Password Is Required</span>
            </div>
            <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary">Login</button>

            </form>
        </div>
      </div>
  </div>
</div>
  

